.produto {
  display: flex;
  gap: 2rem;
  align-items: end;
  justify-content: center;
  margin-bottom: 200px;
}

.produto img {
  border-radius: 12px;
}

.infoProduto {
  width: 400px;
  height: 450px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoProduto h1 {
  font-size: 1rem;
  padding: 1rem 0;
}

.infoProduto p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.infoProduto span {
  font-size: 2rem;
}

.imgsLeft {
  display: flex;
  gap: 2rem;
  flex-direction: column-reverse;
  align-items: center;
  height: 600px;
}

.Left {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.imgLeft {
  width: 100px;
  height: 150px;
}

.imgRigth {
  border-radius: 12px;
}

.imgBig {
  max-width: 400px;
  height: 300px;
  transition: transform 0.2s ease;
}

.imgBig:hover {
  transform: scale(1.2);
}

.addCart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.addCart .add {
  height: 50px;
  border: none;
  padding: 0 2rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.btnIncrement button {
  width: 50px;
  height: 50px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.btnIncrement .decre {
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid #c7c7c7;
}
.btnIncrement .encre {
  border-left: 1px solid #c7c7c7;
  border-radius: 0px 20px 20px 0px;
}

.btnIncrement .quantity {
  padding: 14px;
  font-size: 1rem;
  border: none;
  background-color: #f0f0f0;
}

@media (max-width: 750px) {
  .produto {
    flex-direction: column;
    align-items: center;
  }
  .imgBig {
    width: 300px;
  }
}
