.containerP {
  position: relative;
  padding-top: 4rem;
}

.containerP h2 {
  text-align: center;
  font-size: 3rem;
}

.produtos {
  display: flex;
  flex-flow: nowrap;
  overflow: auto;
  gap: 2rem;
  scroll-behavior: smooth;
  padding: 1rem 0.5rem;
  position: relative;
}

.produtos::-webkit-scrollbar {
  height: 10px;
}

.produtos::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 5px;
}

.produtos::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.produtoItem {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}

.produtoItem:hover {
  transform: scale(1.05);
  background-color: red;
}

.produtoItem h3 {
  font-size: 0.9rem;
}

.produtoItem img {
  border-radius: 12px;
}

.priceName {
  padding: 0.9rem 0.7rem;
  color: black;
  font-weight: bold;
}

.btnCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
}

.btnCard button {
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 12px;
  border: none;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  font-size: 1rem;
  background-color: red;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btns button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.prev {
  left: -10px;
}

.next {
  right: 0px;
}

@media (max-width: 750px) {
  .produtos {
    overflow-x: scroll;
  }
  .btns {
    display: none;
  }
}
