.headerFixo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header h1 {
  font-weight: 900;
}

.header span {
  color: #fa1c0b;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header ul li a {
  transition: 0.5s;
}

.header li a:hover {
  color: #fa1c0b;
  transition: 0.5s;
}

.loginCart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user {
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
  .header ul {
    display: none;
  }
}
